body {
  font-family: Georgia;
}



.content {
  width: 80%;
  margin-top: 15%;
  margin-left: 10%;
  margin-right: 10%;
}

.register {
  display: flex;
  flex-direction: column;
}

.register * {
  padding-top: 10px;
  padding-bottom: 10px;
}

#welcome {
  text-align: center;
  font-size: 2em;
  
  padding-bottom: 20px;
}

.alert {
  display: none;
  text-align: center;
  color: red;
}

label, .inputText, .btnSubmit {
  width: 40%;
  margin-left: 30%;
  margin-right: 30%;
}

.btnSubmit {
  padding-top: 12px;
  padding-bottom: 12px;
}

/*Desktop View*/
@media (min-width: 800px) {

}
