body {
  font-family: Georgia;
}


.content {
  width: 80%;
  margin-top: 15%;
  margin-left: 10%;
  margin-right: 10%;
}

.about {
  display: flex;
  flex-direction: column;
}

.about * {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

#title {
  font-size: 2em;
  padding-bottom: 30px;
}

/*Desktop View*/
@media (min-width: 800px) {
  
}
