body {
  font-family: Georgia;
}


.content {
  width: 80%;
  margin-top: 15%;
  margin-left: 10%;
  margin-right: 10%;
}

.total {
  text-align: center;
  font-size: 2em;
  padding-bottom: 30px;
}

.investments {
  display: flex;
  flex-direction: column;
}

.investments * {
  padding-top: 10px;
  padding-bottom: 10px;
}

.labels, .entry {
  margin: auto;

  background-color: #DDDDDD;
  margin-top: 2%;
}

.labels {
  margin-top: 0;
  font-weight: bold;
}


/*Desktop View*/
@media (min-width: 800px) {

  .investments {
    background-color: #AAAAAA;
  }
  
  .labels, .entry {
    display: flex;
    flex-direction: row;
    width: 100%;
  }
  
  .labels *, .entry *{
    text-align: center;
    margin: auto;
    width: 20%;
  }

  .buySell {
    display: flex;
    flex-direction: row;
  }

  .radioContainer {
    display: flex;
    flex-direction: row;
    width: 50%;
  }

  .amountContainer {
    display: flex;
    flex-direction: column;
    width: 50%;
  }

  .amountContainer * {
    text-align: center;
    margin: auto;
    width: 60%;
  }

  .confirm {
    margin: auto;
    width: 10%;
  }
}
