body {
  font-family: Georgia;
}


.content {
  width: 80%;
  margin-top: 15%;
  margin-left: 10%;
  margin-right: 10%;
}

.investments {
  display: flex;
  flex-direction: column;
}

.investments * {
  padding-top: 10px;
  padding-bottom: 10px;
}


.total {
  text-align: center;
  font-size: 2em;
  padding-bottom: 30px;
}

/*Desktop View*/
@media (min-width: 800px) {
  
  .labels, .entry {
    display: flex;
    flex-direction: row;
    width: 100%;
  }
  
  .labels *, .entry *{
    text-align: center;
    width: 20%;
  }
}
